html, body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig";
}

.section-wrapper {
  @include container($container, true);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include mq($md) {
    flex-wrap: nowrap;

    .col-1-4 { max-width: 25%; }
    .col-1-3 { max-width: 33%; }
    .col-1-2 { max-width: 50%; }
    .col-2-3 { max-width: 66%; }
    .col-3-4 { max-width: 75%; }
    .col-1   { max-width: 100%; }
  }
}

.section-padded-v {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include mq($md) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include mq($lg) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.section-padded-h {
  padding-left: 1rem;
  padding-right: 1rem;

  @include mq($md) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include mq($lg) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

$container-sm: 34em;

.section-wrapper-narrow { max-width: $container-sm; }
.section-wrapper-wide   { max-width: $container-md; }
.section-wrapper-wider  { max-width: $container-lg; }

.standout {
  font-size: 1.25rem;
  max-width: 30em;
  margin: 0.25rem 0;
}

.container-padded-h {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-padded-v {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section--content {
  // max-width: 34em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include mq($lg) {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }

  &.not-padded {
    padding: 0;
  }

  .title { margin: 0.5rem 0; }
  .title-centred { text-align: center; }

  .intro {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  .description {
    max-width: 30em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125rem;
  }

  .content--header {
    margin-top: 1rem;
  }

  h2, h3, h4 {
    margin: 0.75em 0 0.5em;
    line-height: 1.333;

    & + p,
    & + ul {
      margin-top: 0;
    }
  }

  p {
    margin: 0 0 0.75rem;
    word-break: keep-all;
    overflow-wrap: normal;
  }
}

p, ul, ol {
  a:link {
    color: $brand-primary;
    text-decoration: none;
    border-bottom: 1px solid;
  }

  a:visited {
    color: desaturate($brand-primary, 10%);
    text-decoration: none;
  }

  a:hover {
    color: $brand-primary;
    text-decoration: none;
    border-bottom-color: $brand-alt;
  }
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.875rem;
  background-color: lighten($brand-warning, 20%);
  color: $grey-darker;
  padding: 0.125rem 0.25rem;
  border-radius: 2px;

  &.key {
    border: 1px solid rgba($black, 0.25);
    padding-bottom: 0;
  }
}

.divider {
  border-bottom: 3px solid $grey-lighter;
}
